@model IEnumerable<ApplicazioneSpedizioni_core_DbEntity.Models.Utente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@{
    if (User.IsInRole("privato"))
    {
        <p>
              <a asp-action="Create">Create New</a>
        </p>
    }
    else
    {
        
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUtente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartitaIva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceFiscale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoUtente)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUtente)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartitaIva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceFiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUtente)
            </td>

				@{
					if (User.IsInRole("privato"))
					{
						<td>
							<a asp-action="Edit" asp-route-id="@item.IdUtente">Edit</a> |

							<a asp-action="Delete" asp-route-id="@item.IdUtente">Soft Delete</a>
						</td>
					}
					else
					{

					}
				}
        </tr>
}
    </tbody>
</table>
